html,
body {
	height: 100%;
}

body {
	background-color: $body-background;
	display: flex;
	flex-direction: column;
}

.wrapper {
	flex: 1 0 auto;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5%;
	justify-content: center;
	align-items: center;
	text-align: center;

	.grid__item {
		background: $color-nav;
		margin: 20px;
		padding: 180px;
		border-radius: 25px;
		-webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
		box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.07);
	}

	.grid__item--frame {
		background: white !important;
		border: 2px solid $active;
	}

	.grid__item--fill {
		background: $active;
		border: 2px solid white;
	}
}

@media (max-width: 576px) {
	.grid {
		padding: 20px 1%;
	}

	.grid__item {
		padding: 160px !important;
	}
}
