.nav {
	background-color: $color-nav !important;
	padding-left: 5%;
	padding-right: 2%;

	.nav__link {
		text-transform: uppercase;
		color: $grey-ligther !important;

		&:hover {
			text-decoration: underline;
		}
	}

	.nav__link--active {
		color: $active !important;
	}

	.nav__link--brand {
		color: $black-dark !important;

		&:hover {
			text-decoration: none;
		}
	}

	.btn--menu {
		border: none;

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}
