//colors
$active: #c32c72;
$color-nav: #f4f3ee; //empty container element + footer (widescreen) + header
$black-dark: #262626; //brand
$black-lighter: #463f3a; //h1 + hamburger menu
$grey-darker: #6a6a6a; //nav element mobile screen
$grey-ligther: #8d8d8d; //Footer + nav widescreen element
// $grey-light: #e5e5e5; //background
$light: #f4f3ee; //background
$body-background: #e5e5e5; //background color
$nav-link-mobile: #333333;
